body {
	font-family: sans-serif;
}

.wubiq_jws_button {
	text-align: center;
	vertical-align: text-top;
}

.wubiq_header {
	width: 720px;
}
.wubiq_header td {
	text-align:center;
}

.wubiq_header form {
	margin-bottom: 0px;
}

.wubiq_s_table {
	margin-top: 5px;
	border: 2px solid #98bf21;
	width: 720px;
}

.wubiq_sd_table {
	border-collapse: collapse;
	width: 100%;
}

.wubiq_sd_table td, .wubiq_sd_table th
{
	border:1px solid #98bf21;
	padding:3px 7px 2px 7px;
}

.wubiq_sd_table th {
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}

.wubiq_sd_table_th_name,
.wubiq_sd_table_td_name 
{
	width: 35%;
	text-align: left;
}

.wubiq_sd_table_th_remote,
.wubiq_sd_table_td_remote 
{
	width: 10%;
	text-align: center;
}
.wubiq_sd_table_th_uuid,
.wubiq_sd_table_td_uuid 
{
	width: 35%;
	text-align: center;
}
.wubiq_sd_table_th_actions,
.wubiq_sd_table_td_actions 
{
	width: 20%;
	text-align: center;
}


